.dev__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15%;
    min-height: 80vh;
}

.dev__me {
    width: 100%;
    border-radius: 2rem;
    aspect-ratio: 1/1;
    background: transparent;
    display: grid;
    place-items: center;
    overflow: hidden;
    max-height: 550px;
}

.dev__me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: transform var(--animation-speed);
}

.dev__me:hover .dev__me-image {
    transform: rotate(0deg);
}

.dev__cards {
    display: grid;
    grid-template-rows: repeat(3, 165px);
    grid-template-columns: repeat(1, 165px);
    gap: 1.5rem;
    max-height: 550px;
}

.dev__content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}

.dev__content {
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.dev__info {
    display: flex;
    flex-direction: column;
    background: var(--color-bg-variant);
    border: 3px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    justify-content: space-between;
    cursor: pointer;
    transition: border var(--animation-speed), background var(--animation-speed);
    max-height: 550px;
    max-width: 25%;
    min-width: 250px;
}

/* MEDIA QUERTIES */

@media screen and (max-width:1024px) {
    .dev__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .dev__me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .dev__content p {
        margin: 1rem 0 1.5rem;
    }
}

@media screen and (max-width:600px) {
    .dev__me {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .dev__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .dev__content {
        text-align: center;
        flex-direction: column;
    }

    .dev__content p {
        margin: 1.5rem 0;
    }
}