body {
    font-family: 'Poppins',
        sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
    background-size: contain;
    position: relative;
    background-image: url(./assets/backgroud.svg);
    transition: background var(--animation-speed);
}

/* BASIC STYLES */

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

section {
    margin-top: 8rem;
    padding-top: 2rem;
}

section>h2,
section>h5 {
    text-align: center;
    color: var(--color-light);
}

section>h2 {
    color: var(--color-primary);
    margin-bottom: 4rem;
}

.text-light {
    color: var(--color-light);
}

a {
    color: var(--color-primary);
    transition: color var(--animation-speed);
}

a:hover {
    color: var(--color-white);
}

.btn {
    display: inline-block;
    width: max-content;
    color: var(--color-white);
    background: var(--color-bg-variant);
    padding: .75rem 1.2rem;
    border-radius: .4rem;
    border: 1px solid var(--color-bg-variant);
    cursor: pointer;
    transition: background var(--animation-speed), border var(--animation-speed), color var(--animation-speed);
}

.btn:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-bg);
    color: var(--color-primary);
    border-color: var(--color-primary);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* MEDIA QUERTIES */

@media screen and (max-width:1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 4rem;
        height: 100%;
    }
}

@media screen and (max-width:600px) {
    .container {
        width: var(--container-width-ms);
    }

    section>h2 {
        margin-bottom: 2rem;
    }
}